/* 📄 src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  /* Utilitário para esconder a barra de rolagem mas manter a funcionalidade (útil para seções horizontais no mobile) */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: theme('colors.zinc.950');
  color: theme('colors.zinc.50');
}